.reg-custom-div {
    background-color: rgb(9, 192, 192);
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left:40px;
    padding-right: 40px;
}

.reg-h5 {
    margin-bottom: 25px;
}

.reg-custom-btn {
    margin-top: 15px;
    border: 1px solid lightgray;
}

.reg-custom-btn:hover {
    background-color: lightgray;
}

.reg-mb-footer-434-mt-115 {
    margin-bottom: 434px;
    margin-top: 115px;
}

.reg-page {
    display: inline-block;
}