.log-custom-div {
    background-color: rgb(9, 192, 192);
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left:40px;
    padding-right: 40px;
    margin-top: 125px;
}

.log-h5 {
    margin-bottom: 25px;
}

.log-custom-btn {
    margin-top: 15px;
    border: 1px solid lightgray;
}

.log-social {
	float: left;
    margin-top: 2px;
}